// 全局样式

// 渐现特效
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
    opacity: 0
}

// tab 导航条
.md-tabs {
    nav {
        box-shadow: 0 0, 0 0, 0px 5px 3px 0px rgba(0, 0, 0, 0.19), 0 0;
    }
}

/*
*解决 sidenav open时， 页面自动滚动到底部问题
*/
.md-sidenav {
    position: fixed  !important;
    z-index: 100;
}


// 文章目录标题
.title-H1 {
    padding-left: none;
    border-bottom: 1px solid #eee
}

.title-H2 {
    padding-left: .2rem;
    border-bottom: 1px solid #eee;
}

.title-H3 {
    padding-left: .4rem;
    border-bottom: 1px solid #eee;
}

.title-H4 {
    padding-left: .7rem;
    border-bottom: 1px solid #eee;
}

.title-H5 {
    padding-left: 1.1rem;
    border-bottom: 1px solid #eee;
}

.current-title {
    color: #B86060;
    list-style-type: disc;
}

// gitment fav icon bug fixed
.gitment-header-like-btn svg {
    height: 30px;
}
